# Node modules
node_modules/
npm-debug.log

# Build output
dist/

# Environment variables file
.env

# IDE configuration
.vscode/
.idea/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
.cache/

# Other development artifacts
coverage/