.radio-group-col {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
    align-items: flex-start;
}

.radio-button {
    margin: 5px;
}

.errorMsg {
     margin-top: -20px;
     margin-bottom: 10px;
}