@if(hideLabel()){
<mat-label class="f-w-600 m-b-8 d-block"><span [innerHTML]="element.label | sanitizeTrustedHtml"></span>
    @if(showEraser()) { &nbsp;<mat-icon matSuffix (click)="clearField($event)" color="warn"
        fontIcon="clear_all"></mat-icon>
    }</mat-label>
} @if(fieldsWithoutMatForm()){
<mat-form-field appearance="outline" class="w-100" color="primary">
    @if(element.hint) {
    <mat-icon matPrefix [matMenuTriggerFor]="popoverMenu" [color]="(formField.touched && formField.invalid && isFormSubmitted())? 'warn': 'accent'" fontIcon="info" />
    } @switch(element.type) { @case (fieldTypes.BASIC) {
    <!-- If field is input-basic -->
    <input matInput [placeholder]="element.placeholder || ''" [formControl]="formField" (blur)="emitChange($event)" />
    } @case (fieldTypes.AUTOCOMPLETE) {
    <!-- If field is input-autocomplete -->
    <ng-container>
        <input matInput [placeholder]="element.placeholder || ''" [formControl]="formField" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="emitChange($event)">
            @for (option of filteredOptions$ | async; track option) {
            <mat-option [value]="option">
                <span [innerHTML]="getDisplayLabel(option) | sanitizeTrustedHtml"></span>
            </mat-option>
            }
        </mat-autocomplete>
    </ng-container>
    } @case (fieldTypes.SELECT) {
    <!-- If field is input-select -->
    <mat-select [placeholder]="element.placeholder || ''" [formControl]="formField"
        (selectionChange)="emitChange($event)" [multiple]="element.multiple">
        @for (option of filteredOptions$ | async; track option) {
        <mat-option [value]="option"><span
                [innerHTML]="getDisplayLabel(option) | sanitizeTrustedHtml"></span></mat-option>
        }
    </mat-select>
    } @case (fieldTypes.NUMBER) {
    <!-- If field is input-number -->
    <input matInput type="number" [placeholder]="element.placeholder || ''" [formControl]="formField"
        (blur)="emitChange($event)" />
    } @case (fieldTypes.PASSWORD) {
    <!-- If field is input-number -->
    <input matInput type="password" [placeholder]="element.placeholder || ''" [formControl]="formField"
        (blur)="emitChange($event)" />
    } @case (fieldTypes.TEXTAREA) {
    <!-- If field is input-textarea -->
    <textarea matInput [placeholder]="element.placeholder || ''" [formControl]="formField" (blur)="emitChange($event)"
        matTextareaAutosize rows="3"></textarea>
    } @case (fieldTypes.DATE) {
    <!-- If field is input-date -->
    <input matInput [placeholder]="element.placeholder || ''" [matDatepicker]="picker" [formControl]="formField"
        (dateChange)="emitChange($event)" (click)="picker.open()" />
    } @case (fieldTypes.PASSWORD) {
    <!-- If field is input-password -->
    <input type="password" [placeholder]="element.placeholder || ''" [formControl]="formField"
        (blur)="emitChange($event)" />
    } } @if(element.type === fieldTypes.DATE) {
    <!-- If field is input-input-date -->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    } @if(this.showClear()) {
    <mat-icon matSuffix (click)="clearField($event); emitChange($event)" color="warn" fontIcon="clear"></mat-icon>
    }
</mat-form-field>
} @else if (fieldTypes.CHECKBOX === element.type) {
<!-- If field is input-checkbox -->
<mat-checkbox class="mb-2" [formControl]="formField" (change)="emitChange($event)">
    <strong><span [innerHTML]="element.label | sanitizeTrustedHtml"></span></strong>
</mat-checkbox>
} @else if (fieldTypes.RICH_TEXT === element.type) {
<!-- If field is rich-text -->
<app-rich-text-editor (blur)="emitChange($event)" [formFieldControl]="formField" />
} @else if (fieldTypes.RADIO_BUTTON === element.type) {
<!-- If field is input-radio -->
 <div class="mb-2">
     <mat-radio-group [class]="element.direction === direction.VERTICAL ? 'radio-group-col' : ''" [formControl]="formField"
         (change)="emitChange($event)">
         @for (option of filteredOptions$ | async; track option) {
         <mat-radio-button class="radio-button" [value]="option"><span
                 [innerHTML]="getDisplayLabel(option) | sanitizeTrustedHtml"></span></mat-radio-button>
         }
     </mat-radio-group>
 </div>
} @else if (fieldTypes.CHIPS_INPUT === element.type) {
<mat-chips-input [element]="element" (change)="emitChange($event)" [formFieldControl]="formField"
    [placeholder]="element.placeholder || ''" />
} @else if (fieldTypes.CHIPS_SELECT === element.type) {
<!-- If field is chips-select -->
<mat-chip-listbox class="mb-3" (change)="emitChange($event)" style="margin-bottom: 8px;" [formControl]="formField"
    [multiple]="element.multiple" [class]="element.direction === direction.VERTICAL ? 'mat-mdc-chip-set-stacked' : ''"
    aria-label="chip selection">
    @for(chip of filteredOptions$ | async; track chip;) {
    <mat-chip-option color="accent">
        <span [innerHTML]="getDisplayLabel(chip) | sanitizeTrustedHtml"></span>
    </mat-chip-option>
    }
</mat-chip-listbox>
} @else if (fieldTypes.CHECKBOX_GROUP === element.type) {
<mat-checkbox-group [formFieldControl]="formField" [options]="filteredOptions$ | async" [element]="element"
    (change)="emitChange($event)" />
}

<!-- this is for date fields only -->
<mat-datepicker #picker></mat-datepicker>

<!-- This is for showing hint -->
<mat-menu #popoverMenu="matMenu">
  <div class="px-2 w-auto" [innerHTML]="element.hint | sanitizeTrustedHtml"></div>
</mat-menu>

<!-- this is for error section only -->
@for (error of formField.errors | keyvalue; track error.key; let i = $index) {
    @if(formField.touched && formField.invalid && isFormSubmitted()) {
        <div class="errorMsg">
            <mat-error>{{$index+1 +': '+error.value}}</mat-error>
        </div>
    }
        
}
