<div class="row">
  @for (control of formArray.controls; track control; let i = $index) { @let
  elementsToFit =
  attrConfig.formArrayAttributes?.fieldConfig?.maxAllowedElementsInRow; @let
  fieldClass = elementsToFit ? "col-"+(12/elementsToFit) : "col-12"; @if
  (!!groupConfig()) { @let config = { disclosure_name: attrConfig.label,
  disclosure_type: attrConfig.id, ui: groupConfig()! };
    <div class="layout-row">
      <app-form-layout
        [config]="config"
        [formGroup]="$any(control)"
        [isChildForm]="true"
        [status]="formStatus()"
        [showAddButton]="true"
        [showDeleteButton]="i !== 0"
        (addOrRemoveControl)="addOrRemoveElement($event, i)"
        class="flex-grow-1"
      />
      <span class="delete-btn" (click)="addOrRemoveElement(false, i)">
      @if (!groupConfig()?.formLabel && i !== 0) {
          <mat-icon>delete_forever</mat-icon>
        }
      </span>
    </div>
  } @else {

  <div [class]="fieldClass">
    <app-field-selector
      (onChange)="updateControl()"
      [formField]="$any(control)"
      [element]="attrConfig.formArrayAttributes?.fieldConfig!"
      [isFormSubmitted]="isFormSubmitted()"
      [showAddButton]="true"
      [showDeleteButton]="i !== 0"
      (addOrRemoveControl)="addOrRemoveElement($event, i)"
    />
  </div>
  } }
</div>
@if (!!groupConfig() && !groupConfig()?.formLabel) {
  <div class="d-flex justify-content-center mb-3">
    <button (click)="addOrRemoveElement(true, formArray.controls.length)" mat-raised-button color="primary">Add More Fields</button>
  </div>
}
