.layout-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.flex-grow-1 {
  flex: 1 1 0%;
  min-width: 0;
}

.delete-btn {
    width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 8px;
  color: #d32f2f; // Material danger color
}
