<mat-form-field
  appearance="outline"
  class="w-100"
  color="primary"
>
  @if(element().hint) {
  <mat-icon matPrefix [matMenuTriggerFor]="popoverMenu" [color]="(formFieldControl.touched && formFieldControl.invalid && isSubmitted())? 'warn': 'accent'" color="accent" fontIcon="info" />
  }
  <mat-chip-grid #chipGrid aria-label="Enter values..." [formControl]="formFieldControl">
    @for(chip of formFieldControl.value; track chip) {
    <mat-chip-row
      (removed)="remove(chip)"
      [editable]="true"
      (edited)="edit(chip, $event)"
      [removable]="!disabled()"
      [editable]="!disabled()"
      [aria-description]="'press enter to edit ' + chip"
      class="f-s-14"
    >
      {{ chip }}
      <button matChipRemove [attr.aria-label]="'remove ' + chip">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }

    <input
      [placeholder]="placeholder()"
      [matChipInputFor]="chipGrid"
      [disabled]="disabled()"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes()"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addChipInputValue($event)"
    />
  </mat-chip-grid>
</mat-form-field>


<!-- This is for showing hint -->
<mat-menu #popoverMenu="matMenu">
  <div class="px-2 w-auto" [innerHTML]="element().hint | sanitizeTrustedHtml"></div>
</mat-menu>

