<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Form Title</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form>
          <!-- buttons section start -->
          <div class="m-t-12 d-flex justify-content-center">
            <button mat-flat-button color="primary" class="m-r-8">Submit</button>
            <button mat-flat-button color="accent" class="m-r-8">Sample</button>
            <button mat-stroked-button color="warn" class="m-r-8">Sample</button>
            <button mat-stroked-button color="info" class="m-r-8">sample</button>
          </div>
          <!-- buttons section end -->
    </form>
  </mat-card-content>
</mat-card>

<app-disclose-form></app-disclose-form>