<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Form Title</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form>
      <!-- form elements row -->
      <div class="row m-x-10 gx-2">
        <!-- form field -->
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Text Field</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="your name " />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Autocomplete Input</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Autocomplete field" [formControl]="myControl" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option.name}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Single Selection Input</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select>
              @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option">{{option.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-x-10 gx-2">
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Number Input</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input type="number" matInput placeholder="your name " />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Text Area Input</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <textarea matInput matTextareaAutosize></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-x-10 gx-2">
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Single Selection Chips Basic</mat-label>
          <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option class="f-s-14" color="primary">One fish</mat-chip-option>
            <mat-chip-option class="f-s-14">Two fish</mat-chip-option>
            <mat-chip-option class="f-s-14" color="accent" selected>Accent fish</mat-chip-option>
            <mat-chip-option class="f-s-14" color="warn">Warn fish</mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div class="col">
          <mat-label class="f-w-600 m-b-8 d-block">Single Selection Chips Stacked</mat-label>
          <mat-chip-listbox aria-label="Fish selection" class="mat-mdc-chip-set-stacked">
            <mat-chip-option class="f-s-14" color="primary">One fish</mat-chip-option>
            <mat-chip-option class="f-s-14">Two fish</mat-chip-option>
            <mat-chip-option class="f-s-14" color="accent" selected>Accent fish</mat-chip-option>
            <mat-chip-option class="f-s-14" color="warn">Warn fish</mat-chip-option>
          </mat-chip-listbox>
        </div>
      </div>


          <!-- buttons section start -->
          <div class="m-t-12 d-flex justify-content-center">
            <button mat-flat-button color="primary" class="m-r-8">Submit</button>
            <button mat-flat-button color="accent" class="m-r-8">Sample</button>
            <button mat-stroked-button color="warn" class="m-r-8">Sample</button>
            <button mat-stroked-button color="info" class="m-r-8">sample</button>
          </div>
          <!-- buttons section end -->
    </form>
  </mat-card-content>
</mat-card>

<app-disclose-form></app-disclose-form>