<mat-toolbar class="topbar">

  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex d-md-none justify-content-center">
    
  </button>


  <button mat-icon-button aria-label="Notifications">
    
  </button>


  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <a mat-flat-button color="primary" href="https://adminmart.com/product/modernize-angular-admin-dashboard/"
    target="_blank" class="d-flex justify-content-center">
    Download Free
  </a>
  <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
    <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover" width="35" />
  </button>
  <mat-menu #profilemenu="matMenu" class="cardWithShadow">
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"></mat-icon>My
      Profile
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"></mat-icon>My
      Account
    </button>
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"></mat-icon>My Task
    </button>

    <div class="p-x-12 m-t-12">
      <a [routerLink]="['/authentication/login']" mat-stroked-button color="primary" class="w-100">Logout</a>
    </div>
  </mat-menu>
</mat-toolbar>