<mat-card class="cardWithShadow theme-card" [class.void-card]="isChildForm() && !config.ui.formLabel">
  @if(config.ui.formLabel) {
  <mat-card-header>
    <div class="header-flex">
      <mat-card-title class="m-b-0">{{ config.ui.formLabel }}</mat-card-title>
      <div class="header-actions">
        @if (showDeleteButton() && !this.formGroup.disabled) {
          <div class="raised-btn text-danger" (click)="addOrRemoveElement(false)">
            <mat-icon>delete_forever</mat-icon>
          </div>
        }
        @if (showAddButton() && !this.formGroup.disabled) {
          <div class="raised-btn text-primary" (click)="addOrRemoveElement(true)">
            <mat-icon>add</mat-icon>
          </div>
        }
      </div>
    </div>
  </mat-card-header>
  }
  <mat-card-content class="b-t-1" [class.void-card-content]="isChildForm() && !config.ui.formLabel">
    <!-- Direct access to visibleLayers with @for -->
    @for(layer of this.config.ui.elementsLayout; track layer) {
    <div [ngClass]="isLayerVisible(layer) ? 'row gx-2' : 'd-none'">
      @for(element of layer; track element) {
      <!-- <div class="col" [ngClass]="isShown(element) ? 'col' : 'd-none'"> -->
      @if(this.visibleLayers().flat().includes(element) &&
      element._refAttributes) { @let attr =
      config.ui.references.attributes[element._refAttributes];
      @if (attr?.type === fieldTypes.FORM_ARRAY) {
        <div class="col-12">
          <app-form-array
            [formArray]="$any(formGroup.get(element._refAttributes))"
            [attrConfig]="config.ui.references.attributes[element._refAttributes]"
            [isFormSubmitted]="isFormSubmitted()"
            (onChange)="updateAccessControl()"
            [formGroup]="formGroup"
            [formStatus]="status"
        /></div>
      } @else if (attr?.type === fieldTypes.FORM_GROUP) {
      <!-- Render nested form group recursively -->
       <div class="col-12">
        <app-form-layout
          [config]="{
            disclosure_name: attr.label,
            disclosure_type: attr.id,
            ui: attr.formGroupAttributes!
          }"
          [formGroup]="$any(formGroup.get(element._refAttributes))"
          [isChildForm]="true"
          [status]="status" />
          </div>
      } @else if (config.ui.references.attributes[element._refAttributes]){
        <div class="col">
          <app-field-selector
            (onChange)="updateAccessControl()"
            [fullForm]="formGroup"
            [formField]="$any(formGroup.get(element._refAttributes))"
            [element]="config.ui.references.attributes[element._refAttributes]"
            [isFormSubmitted]="isFormSubmitted()"
          />
        </div>
      }
      } @else if(this.visibleLayers().flat().includes(element) &&
      element._paragraphAttributes) {
      <div class="col">
        <app-text-element
          [element]="
            config.ui.paragraphs.textAttributes[element._paragraphAttributes]
          "
          [formGroup]="formGroup"
        ></app-text-element>
      </div>
      } }
    </div>
    }
  </mat-card-content>
  @if(this.config.ui.actions) {
  <mat-card-content class="b-t-1">
    <div class="col">
      <app-action-buttons
        [buttonsConfig]="{
          justification: this.config.ui.actions.justification,
          buttons: this.visibleActionButton
        }"
        (onClick)="submit($event)"
      ></app-action-buttons>
    </div>
  </mat-card-content>
  }
</mat-card>
